{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Movie Detail{% endblock %}

{% block body_block %}
	<center>
	<h1><strong>{{ movie_name }}</strong></h1>
	</center>
	{% if movie %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="{{ movie.picture.url }}" alt="This is the picture of the movie">
			</div>
			<div class="col-md-9">
				<h3 class="text-left text"><strong>导演：
					{% if directors %}
						{% for director in directors %}
							<a href="{% url 'people' director.celebs.slug %}">{{ director.celebs.name }}</a>
							{% if forloop.last %}
							{% else %}
								/
							{% endif %}
						{% endfor %}
					{% endif %}
				</strong></h3>
				<h3 class="text-left text"><strong>编剧：
					{% if writers %}
						{% for writer in writers %}
							<a href="{% url 'people' writer.celebs.slug %}">{{ writer.celebs.name }}</a>
							{% if forloop.last %}
							{% else %}
								/
							{% endif %}
						{% endfor %}
					{% endif %}
				</strong></h3>
				<h3 class="text-left text"><strong>演员：
					{% if cast %}
						{% for people in cast %}
							<a href="{% url 'people' people.celebs.slug %}">{{ people.celebs.name }}</a>
							{% if forloop.last %}
							{% else %}
								/
							{% endif %}
						{% endfor %}
					{% endif %}
				</strong></h3>
				<h3 class="text-left"><strong>类型：{{ movie.Genre }}</strong></h3>
				<h3 class="text-left"><strong>片长：{{ movie.runtime }}</strong></h3>
				<h3 class="text-left"><strong>上映时间：{{ movie.release_date|date:"Y-m-d" }}</strong></h3>
				<p class="text-right">

					<strong id="like_count">{{ movie.likes }}</strong> 人喜欢这部电影
					
						<button id="likes" data-movieid="{{ movie.id }}" class="btn btn-primary" type="button">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						Like
						</button>					
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2>剧情简介：</h2>
		<p class="myp">{{ movie.storyline }}</p>
	</div>
		<!--<ul>
			<li>runtime: {{ movie.runtime }}</li>
			<li>Genre: {{ movie.Genre }}</li>
			<li>release date: {{ movie.release_date }}</li>
			<li>storyline: {{ movie.storyline }}</li>
		</ul>-->
	{% else %}
	<strong>There is no such movie!</strong>
	{% endif %}
	<h2>图片:</h2>
	{% if user.is_authenticated %}
	<a href="/movie/detail/{{ movie.slug }}/add_picture">添加图片</a>
	{% endif %}
	
	<div class="container-fluid">
	{% if moviepicture %}
		<div class="row">
		{% for picture in moviepicture %}
			<div class="col-md-3">
				<img src="{{ picture.picture.url }}" alt="This is the picture of the movie"  width="214", height="317">
			</div>
		{% endfor %}
		</div>
	{% else %}
		<strong> 还没有图片！</strong>
	{% endif %}
	</div>
	
	<h2>精彩评论:</h2>
	{% if user.is_authenticated %}
	<a href="/movie/detail/{{ movie.slug }}/add_comment">添加评论</a>
	{% endif %}
	<div class="container-fluid">
	{% if comments %}
		{% for comment in comments %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{comment.user.username}}   {{comment.date|date:"Y-m-d"}}</h3>
			  </div>
			  <div class="panel-body">
			    {{comment.comment}}
			  </div>
			</div>
		{% endfor %}
	{% else %}
		<strong> 还没有评论！</strong>
	{% endif %}
	</div>
{% endblock %}
		