{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}People{% endblock %}

{% block body_block %}
	<h1>{{ people_name }}</h1>
	{% if people %}
	<img src="{{ people.photo.url }}" alt="This is the picture of the people">
	<div>
		<ul>
			<li>career: {{ people.get_career_display }}</li>
			<li>Intro: {{ people.intro }}</li>
			<li>born: {{ people.born }}</li>
		</ul>
	<div>
	{% else %}
	<strong>There is no such person!</strong>
	{% endif %}
	<h2>Pitures:</h2>
	{% if moviepicture %}
		<ul>
		{% for picture in moviepicture %}
			<li><img src="{{ picture.picture.url }}" alt="This is the picture of the movie"></li>
		{% endfor %}
		</ul>
	{% else %}
		<strong> 还没有图片！</strong>
	{% endif %}
{% endblock %}