.navbar {
    margin-bottom: 0;
}

.testname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.myp {
    text-indent: 4em;
    font-size: 200%;
}

.test {
    height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}